body {
    margin: 0;
    text-align: center;
    font-size: small;
}

div {
    padding: 3px;
}

.bg-gray {
    background-color: #2d3339;
}

.reminder-top {
    padding-top: 10px;
    padding-bottom: 0;
}

.reminder-bottom {
    padding-top: 0;
    padding-bottom: 10px;
}

a {
    text-decoration: none;
}